body {
  text-align: center;
}

h2 {
  color: red;
  font-size: 25px;
}

.box-paragraph {
  width: 50vw;
  height: 200px;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: justify;
  padding: 2%;
  margin: auto;
}

.paragraph {
  font-size: 18px;
}
